body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
  color: white;
}

body {
  background-image: linear-gradient(to right, #660000, #990000);
  /*background-color: #bbb;
  /*background-image: linear-gradient(to right, #49a09d, #13349e);*/
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
}

h2{
  margin-top: 40px;
  margin-left: 30px;
}

img {
  max-width: 100%;
  display: block;
  border: 3px solid #bbb;
}

img:hover{
  background-color: rgb(112, 107, 107);
}

.header {
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
div.logo{
  background: url("/assets/img/logo.png") no-repeat;   
  background-size: cover;
  height: 100px;
  width: 100px;
}
.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
  display: inline;
}

.menu li a {
  display: block;
  padding: 10px;
  display: inline-block;
}
.menu li a:hover {
  background-color: rgb(112, 107, 107);
}

/* CSS FLEXBOX 1 */

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: black;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}
@media (max-width: 600px){
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}
section.fundo{
    overflow: hidden;
    border: 2px solid whitesmoke;
    margin-left: 50%;
    margin-top: 400px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transform: translate(-50%, -50%);
}

section.fundo > div.org{
  display: block;
  padding: 10px;
}

div.org{
  border: 2px solid #bbb;
} 
section.fundo > h1{
  margin-top: 10px;
  text-align: center;
}
form > div.campo {
  background-color: #bbb;
  border: 2px solid #bbb;
  display: block;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
  color: #000;
  
}

div.campo > input {
  background-color: #f8f1f1;
  font-size: 1em;
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translateY(-10px);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
}
div.voltar > a{
  text-decoration: none;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 700px;
  position: relative;
  margin: auto;
  background-image: url(../img/background1.png);
  background-image: cover;
  background-repeat: no-repeat;
}

/* Hide the images by default */
.mySlides {
  display: none;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #bbb;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*estrelinhas*/
.avaliacao{
  display: flex;
 }
.star-icon{
  list-style-type: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #ffe500;
  font-size: 40px;/* alterar o tamanho das estrelas */
}
.star-icon::before{
  content: "\2605";
}
.star-icon.ativo ~ .star-icon::before{
  content: "\2606";
}
.avaliacao:hover .star-icon::before{
  content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
  content: "\2606";
}